{% macro appointment_timeline_item(appointment) %}
    <div class="field has-addons has-addons-centered">

        <div class="control is-overlay">
            <a class="button is-small is-success"
               href="{{ url_for('appointments_bp.an_appointment', appointment_id = appointment.id) }}">
                <span class="icon"><i class="fas fa-clock"></i></span>
                <span>{{ appointment.time_of_appointment.strftime('%H:%M') }}</span>
            </a>
        </div>
        <div class="control is-expanded is-overlay control-name-and-tel">
            <a class="button  is-outlined is-fullwidth is-small control-name-and-tel"
               href="{{ url_for('appointments_bp.an_appointment',appointment_id = appointment.id) }}">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span>{{ appointment.client.name }}</span>
            </a>
        </div>
        <div class="control tooltip">
            {% if appointment.now_sms == 2 %}

                <a class="button is-success is-outlined is-small" data-tooltip="SMS isti dan">
                    <span class="icon"><i class="fas fa-check"></i></span>
                </a>
                <span class="tooltiptext">Takojšnji SMS prejet.</span>
            {% elif appointment.now_sms == 1 %}

                <a class="button is-link is-outlined is-small" data-tooltip="SMS isti dan">
                    <span class="icon"><i class="fas fa-times"></i></span>
                </a>
                <span class="tooltiptext">Takojšnji SMS še ni bil prejet.</span>
            {% elif appointment.now_sms == 0 %}

                <a class="button  is-small" style="color: grey">
                    <span class="icon"><i class="fas fa-circle"></i></span>
                </a>
                <span class="tooltiptext">Takojšnjega smsa ne dobi.</span>
            {% endif %}

        </div>
        <div class="control tooltip">
            {% if appointment.same_day_sms == 2 %}

                <a class="button is-success is-outlined is-small" data-tooltip="SMS isti dan">
                    <span class="icon"><i class="fas fa-check"></i></span>
                </a>
                <span class="tooltiptext">SMS na dan termina prejet.</span>
            {% elif appointment.same_day_sms == 1 %}

                <a class="button is-link is-outlined is-small" data-tooltip="SMS isti dan">
                    <span class="icon"><i class="fas fa-times"></i></span>
                </a>
                <span class="tooltiptext">SMS na dan termina še ni prejet.</span>
            {% elif appointment.same_day_sms == 0 %}

                <a class="button  is-small" style="color: grey">
                    <span class="icon"><i class="fas fa-circle"></i></span>
                </a>
                <span class="tooltiptext">SMS na dan termina ne bo poslan.</span>
            {% endif %}

        </div>
        <div class="control tooltip">
            {% if appointment.day_before_sms == 2 %}
                <a class="button is-success is-outlined is-small" data-tooltip="SMS isti dan">
                    <span class="icon"><i class="fas fa-check"></i></span>
                </a>
                <span class="tooltiptext">SMS dan pred terminom prejet.</span>
            {% elif appointment.day_before_sms == 1 %}

                <a class="button is-link is-outlined is-small" data-tooltip="SMS isti dan">
                    <span class="icon"><i class="fas fa-times"></i></span>
                </a>
                <span class="tooltiptext">SMS dan pred terminom še ni prejet.</span>

            {% elif appointment.day_before_sms == 0 %}
                <a class="button  is-small" style="color: grey">
                    <span class="icon"><i class="fas fa-circle"></i></span>
                </a>
                <span class="tooltiptext">SMS dan pred terminom ne bo poslan.</span>
            {% endif %}

        </div>
        <div class="control">
            <a class="button is-success  is-outlined is-small"
               href="{{ url_for('appointments_bp.update_appointment', appointment_id = appointment.id) }}">
          <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
            </a>
        </div>
        <div class="control">
            <a class="button is-link is-rounded is-small"
               href="{{ url_for('appointments_bp.delete_appointment', appointment_id = appointment.id) }}"
               onclick="return confirm('As zihr?');">
          <span class="icon is-small">
            <i class="far fa-trash-alt"></i>
          </span>
            </a>
        </div>
    </div>
{% endmacro %}