{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='appointments.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <div class="buttons is-info gumbi-navigacija mb-5">
            <a href="{{ url_for('appointments_bp.appointments') }}"
               class="button is-link is-outlined is-rounded">Termini</a>
            <a href="{{ url_for('calendar_bp.calendar') }}"
               class="button is-link is-outlined is-rounded">Koledar</a>
            <a href="{{ url_for('clients_bp.clients') }}"
               class="button is-link is-outlined is-rounded">Stranke</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% from "_input_text.html" import input_text %}
    <div class="column is-4 is-offset-4">
        {% if appointment %}
            <h3 class="title has-text-centered">Uredi Termin</h3>
        {% else %}
            <h3 class="title has-text-centered">Nov Termin</h3>
        {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-link">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{% if appointment %}/update_appointment/
                {{ appointment.id }}{% else %}/add_appointment{% endif %}" autocomplete="off">
            {{ appointment_form.hidden_tag() }}
            <div class="field">
                {{ appointment_form.client_name.label(class="label") }}
                <div class="control">
                    {{ appointment_form.client_name(class="input selectbox", style="width: 100%") }}
                </div>
            </div>
            <div class="field has-addons datetimefield">
                <div class="control">
                    {{ appointment_form.date_of_appointment.label(class="label") }}
                    {{ appointment_form.date_of_appointment(class="input date is-medium") }}
                </div>
                <div class="control">
                    {{ appointment_form.time_of_appointment.label(class="label") }}
                    {{ appointment_form.time_of_appointment(class="input datetime is-medium") }}
                </div>
            </div>
            <div class="field">
                {{ appointment_form.now_sms(class="checkbox") }}
                {{ appointment_form.now_sms.label(class="checkbox") }}
            </div>
            <div class="field">
                {{ appointment_form.same_day_sms(class="checkbox") }}
                {{ appointment_form.same_day_sms.label(class="checkbox") }}
            </div>
            <div class="field">
                {{ appointment_form.day_before_sms(class="checkbox") }}
                {{ appointment_form.day_before_sms.label(class="checkbox") }}
            </div>
            <div class="field is-grouped">
                <div class="control is-expanded">
                    {{ appointment_form.submit(class="button is-success is-fullwidth") }}
                </div>
                <div class="control">
                    <a class="button" href="{{ url_for('appointments_bp.appointments') }}">Prekliči</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/app/static/selectboxAutocomplete.js"></script>
{% endblock %}