{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='timeline.css') }}">
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <div class="buttons  gumbi-navigacija mb-5">
            <a href="{{ url_for('appointments_bp.appointments') }}"
               class="button is-link is-rounded">Termini</a>
            <a href="{{ url_for('calendar_bp.calendar') }}"
               class="button is-link is-outlined is-rounded">Koledar</a>
            <a href="{{ url_for('clients_bp.clients') }}"
               class="button is-link is-outlined is-rounded">Stranke</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% from "_appointment_timeline_item.html" import appointment_timeline_item %}
    {% from "_appointment_past_timeline_item.html" import appointment_past_timeline_item %}
    <div class="container ">
        <div class="tabs is-toggle is-fullwidth" id="tabs">
            <ul>
                <li class="is-active" data-tab="1">
                    <a>
                        <span class="icon"><i class="fas fa-hourglass-start"></i></span>
                        <span>Bodoči</span>
                    </a>
                </li>
                <li data-tab="2">
                    <a>
                        <span class="icon"><i class="fas fa-hourglass-end"></i></span>
                        <span>Pretekli</span>
                    </a>
                </li>
            </ul>
        </div>
        <div id="tab-content">
            <div class="timeline is-active" data-content="1">
                {% if appointment_list|length > 0 %}
                    <header class="timeline-header">
                        <span>Zob časa</span>
                    </header>
                    <header class="timeline-header">
                        <span class="tag is-info is-medium"><i class="fa fa-chevron-down"></i></span>
                    </header>

                    <div class="timeline-item">
                    </div>
                    {% for year in schedule %}
                        <header class="timeline-header">
                            <span class="tag is-large is-info">{{ year }}</span>
                        </header>
                        {% for month in schedule[year] %}
                            <header class="timeline-header">
                                <span class="tag is-success">{{ month }}</span>
                            </header>
                            {% for day in schedule[year][month] %}
                                <div class="timeline-item">
                                    <div class="timeline-marker is-icon is-info">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <div class="timeline-content">
                                        <p class="heading">{{ day }}. {{ month }}</p>
                                        {% for appointment in appointment_list %}
                                            {% if day == appointment.time_of_appointment.day and month == appointment.time_of_appointment.strftime('%B') and year == appointment.time_of_appointment.year %}
                                                {{ appointment_timeline_item(appointment) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    <header class="timeline-header">
                        <span>Zob časa</span>
                    </header>
                    <header class="timeline-header">
                        <span class="tag is-info is-medium"><i class="fa fa-chevron-down"></i></span>
                    </header>
                {% else %}
                    <div class="block">
                        <p><span>Ni jih, kje pa so?</span>
                            <a class="button is-link is-outlined is-small"
                               href="{{ url_for('appointments_bp.add_appointment') }}">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>Dodaj nov termin.</span>
                            </a>
                        </p>
                    </div>
                {% endif %}
            </div>
            <div class="timeline" data-content="2">
                {% if past_schedule|length > 0 %}
                    <header class="timeline-header">
                        <span class="tag is-info is-medium"><i class="fa fa-chevron-up"></i></span>
                    </header>
                    <header class="timeline-header">
                        <span>Zob časa</span>
                    </header>
                    <div class="timeline-item">
                    </div>
                    {% for year in past_schedule %}
                        {% for month in past_schedule[year] %}
                            {% for day in past_schedule[year][month] %}
                                <div class="timeline-item">
                                    <div class="timeline-marker is-dark is-icon">
                                        <i class="fa fa-chevron-up"></i>
                                    </div>
                                    <div class="timeline-content">
                                        <p class="heading">{{ day }}. {{ month }}</p>
                                        {% for appointment in past_appointment_list %}
                                            {% if day == appointment.time_of_appointment.day and month == appointment.time_of_appointment.strftime('%B') and year == appointment.time_of_appointment.year %}
                                                {{ appointment_past_timeline_item(appointment) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <header class="timeline-header">
                                <span class="tag is-success">{{ month }}</span>
                            </header>
                        {% endfor %}
                        <header class="timeline-header">
                            <span class="tag is-large is-info">{{ year }}</span>
                        </header>
                    {% endfor %}
                    <div class="timeline-item">
                    </div>
                    <header class="timeline-header">
                        <span class="tag is-info is-medium"><i class="fa fa-chevron-up"></i></span>
                    </header>
                    <header class="timeline-header">
                        <span>Zob časa</span>
                    </header>
                {% else %}
                    <div class="block">
                        <p><span>Ni jih, kje pa so?</span>
                            <a class="button is-link is-outlined is-small"
                               href="{{ url_for('appointments_bp.add_appointment') }}">
                                <span class="icon"><i class="fas fa-plus"></i></span>
                                <span>Dodaj nov termin.</span>
                            </a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='timelineTabs.js') }}"></script>
{% endblock %}

