{% macro sent_text_item(sent_text) %}
    <div class="field has-addons has-addons-centered">
        <div class="control is-overlay">
            <a class="button is-small is-success is-outlined"
               href="{{ url_for('clients_bp.a_client', client_id = sent_text.appointment.client.id) }}">
                <span class="icon"><i class="fas fa-user"></i></span>
                <span>{{ sent_text.appointment.client.name }}</span>
            </a>
        </div>
        <div class="control is-overlay">
            <a class="button is-small is-success is-outlined"
               href="{{ url_for('home_bp.sent_sms', sms_id = sent_text.id) }}">
                <span class="icon"><i class="fas fa-calendar"></i></span>
                <span>{{ sent_text.sent_at_datetime.strftime('%d/%m/%Y') }}</span>
                <span class="icon"><i class="fas fa-clock"></i></span>
                <span>{{ sent_text.sent_at_datetime.strftime('%H:%M') }}</span>
            </a>
        </div>
    </div>
{% endmacro %}