{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='clients.css') }}">
{% endblock %}

{% block content %}
    <h1 class="title has-text-centered">Stranke</h1>
    <div class="table-container">
        <table class="table is-hoverable is-scrollable">
            <thead>
            <tr>
                <th>Ime Stranke</th>
                <th>Telefonska Številka</th>
                <th>SMS Isti Dan</th>
                <th>SMS Dan Prej</th>
            </tr>
            </thead>
            <tbody>
            {% for client in client_list %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.phone }}</td>
                    <td>
                        {% if client.same_day_sms %}
                            <h2 style="color: green">Da</h2>
                        {% else %}
                            <h2 style="color: red">Ne</h2>
                        {% endif %}
                    </td>
                    <td>
                        {% if client.day_before_sms %}
                            <h2 style="color: green">Da</h2>
                        {% else %}
                            <h2 style="color: red">Ne</h2>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
