.button.is-multiline {
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
}

/** This isn't the actual suggested CSS - but it is just a quick fix to replicate the functionality**/
.button.is-multiline .icon {
  margin: 0! important;
}