{% extends "base.html" %}

{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <div class="buttons  gumbi-navigacija mb-5">
            <a href="{{ url_for('appointments_bp.appointments') }}"
               class="button is-link is-outlined is-rounded">Termini</a>
            <a href="{{ url_for('calendar_bp.calendar') }}"
               class="button is-link is-outlined is-rounded">Koledar</a>
            <a href="{{ url_for('clients_bp.clients') }}"
               class="button is-link is-outlined is-rounded">Stranke</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% from "_input_text.html" import input_text %}
    <div class="column is-4 is-offset-4">
        <div class="box">
            <h3 class="title has-text-centered">SMS Sporočilo</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-link">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/change_sms_template" autocomplete="off">
                {{ sms_template_form.hidden_tag() }}
                <div class="field">
                    {{ sms_template_form.client.label(class="label") }}
                    <div class="field green-group"{% if client %} hidden{% endif %}>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <button type="button" id="zelengumb" class="button is-fullwidth is-info is-outlined">
                                    Standardni SMS za vse stranke
                                </button>
                            </div>
                            <div class="control">
                                <a class="button is-success is-outlined"
                                   href="{{ url_for('home_bp.reset_sms_template') }}"
                                   onclick="return confirm('Ponastavi Standardni SMS nazaj na tovarniške nastavitve? :)');">
                                    <span class="icon"><i class="fas fa-undo"></i></span>
                                </a>
                            </div>
                        </div>
                        <p class="help is-link">Klikni za dodelitev SMS-a specifičnim strankam.</p>
                    </div>
                    <div class="field blue-group" {% if not client %} hidden{% endif %}>
                        <button type="button" id="modergumb" class="button is-link is-fullwidth is-outlined">
                            SMS za izbrane stranke
                        </button>
                        <p class="help is-info">Klikni za spremembo Standardnega SMS-a za vse stranke.</p>
                    </div>
                    <div class="control is-expanded blue-group"{% if not client %} hidden{% endif %}>
                        {{ sms_template_form.client(class="input selectbox-multi", style="width: 100%") }}
                    </div>
                </div>
                <div class="field">
                    {{ sms_template_form.template.label(class="label") }}
                    <div class="control">
                        {{ sms_template_form.template(class="textarea") }}
                    </div>
                </div>
                <div class="field">
                    <label for="buttons" class="label">Klikni da vstaviš v besedilo:</label>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <button type="button" id="ime-stranke" class="button is-info is-fullwidth is-outlined">
                                <span>{ime_stranke}</span>
                            </button>
                        </div>
                        <div class="control is-expanded">
                            <button type="button" id="cas-termina" class="button is-info is-fullwidth is-outlined">
                                <span>{čas_termina}</span>
                            </button>
                        </div>
                    </div>
                    <p class="help is-link">Mora biti napisano točno tako kot je, da se lahko imena strank in časi
                        terminov dinamično spreminjajo. </p>
                    <p class="help is-link"> V čas termnina je vključen datum in ura, a la: "(jutri/danes) 15.5.2020 ob
                        16:30". </p>
                </div>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        {{ sms_template_form.submit(class="button is-info is-fullwidth") }}
                    </div>
                    <div class="control">
                        <a class="button" href="{{ url_for('clients_bp.clients') }}">Prekliči</a>
                    </div>
                </div>
                <hr>
                <p class="help">P.S. Jutri/danes ne bodo v oklepajih... hotel sem samo pokazat da bodo vključeni
                    v besedilo ko bo to primerno...</p>
                <p class="help">P.P.S. Tud slash-a ne bo med jutri in danes... V glavnem če ti kej ni jasn poklič al
                    neki..</p>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/app/static/selectboxAutocomplete.js"></script>
{% endblock %}