{% extends "base.html" %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <div class="buttons is-info gumbi-navigacija mb-5">
            <a href="{{ url_for('appointments_bp.appointments') }}"
               class="button is-link is-outlined is-rounded">Termini</a>
            <a href="{{ url_for('calendar_bp.calendar') }}"
               class="button is-link is-outlined is-rounded">Koledar</a>
            <a href="{{ url_for('clients_bp.clients') }}"
               class="button is-link is-outlined is-rounded">Stranke</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="title has-text-centered">
        Ginger Alerts
    </h1>
    <h2 class="subtitle has-text-centered">
        Spletna aplikacija za pošiljanje sms sporočil, vsem ki so pozabljivi.
    </h2>
    {% if user %}
        {% if not user.send_SMS %}
            <article class="message is-warning">
                <div class="message-header">
                    <p><span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                        <span>Pozor</span>
                        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span></p>
                </div>
                <div class="message-body">
                    Pošiljanje SMS-ov na (tvojo) žalost tebi (še) ni dovoljeno.
                    Stran lahko testiraš in bo delovala normalno, s to izjemo da noben SMS ne bo nikoli poslan.
                    <p class="help">Kar mogoče malo uniči poanto te čudovite spletne strani.</p>
                </div>
            </article>
        {% endif %}
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
                            <span>Splošne Informacije</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>S spodnjim gumbom "dodaj stranko" lahko dodaš stranko.</li>
                                <li>Ko dodaš prvo stranko lahko dodaš termin, z gumbom dodaj termin.</li>
                                <li>Ko dodajaš lahko označiš, če stranka dobi SMS takoj ko shraniš termin, na dan
                                    termina,
                                    ali en dan pred terminom, okoli 8. ure zjutraj.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <span>SMS-i</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>SMS-i se delijo na Standardni SMS in na unikatne SMS-e</li>
                                <li>Standardni SMS je SMS, ki ga prejmejo vse stranke ki nimajo unikatnega SMS-a</li>
                                <li>Unikatni SMS lahko dodeliš specifičnim strankam, vsaki posebi ali večim hkrati.</li>
                                <li>SMS-e lahko urejaš na profilu stranke ali na svojem profilu.</li>
                            </ul>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('home_bp.change_sms_template') }}" class="card-footer-item">Ali pa klikni
                            sem</a>
                    </footer>
                </div>
            </div>
        </div>
        {% if current_user.is_authenticated %}
            <div class="buttons has-addons is-bottom dodaj">
                <a class="button is-link is-rounded"
                   href="{{ url_for('appointments_bp.add_appointment') }}">
                    <span class="icon"><i class="fas fa-clock"></i></span>
                    <span>Nov Termin</span>
                    <span class="icon"><i class="fas fa-plus"></i></span>
                </a>
                <a class="button is-link is-rounded" href="{{ url_for('clients_bp.add_client') }}">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span>Nova Stranka</span>
                    <span class="icon"><i class="fas fa-user"></i></span>
                </a>
            </div>
        {% endif %}
    {% else %}
        <article class="message is-info">
            <div class="message-header">
                <p><span class="icon"><i class="fas fa-info-circle"
                                         aria-hidden="true"></i></span><span>Potrebna Registracija</span></p>
            </div>
            <div class="message-body">
                Za uporabo te spletne strani se morate <a href="{{ 'auth_bp.signup' }}">registrirati.</a>
                Če ste se že, se lahko vpišete <a
                    href="{{ 'auth_bp.login' }}">tukaj.</a>
                <p class="help">Brez nč ni nč... vse deluje prek uporabnikovega profila.</p>
            </div>
        </article>
    {% endif %}

{% endblock %}