{% extends "base.html" %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <div class="buttons  gumbi-navigacija mb-5">
            <a href="{{ url_for('appointments_bp.appointments') }}"
               class="button is-link is-outlined is-rounded">Termini</a>
            <a href="{{ url_for('calendar_bp.calendar') }}"
               class="button is-link is-outlined is-rounded">Koledar</a>
            <a href="{{ url_for('clients_bp.clients') }}"
               class="button is-link is-outlined is-rounded">Stranke</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="title has-text-centered">
        Ginger Alerts
    </h1>
    <h2 class="subtitle has-text-centered">
        Spletna aplikacija za pošiljanje sms sporočil, vsem ki so pozabljivi.
    </h2>



    {% if user %}
        {% if not user.send_SMS %}
            <article class="message is-warning">
                <div class="message-header">
                    <p><span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                        <span>Pozor</span>
                        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span></p>
                </div>
                <div class="message-body">
                    Pošiljanje SMS-ov na (tvojo) žalost tebi (še) ni dovoljeno.
                    Stran lahko testiraš in bo delovala normalno, s to izjemo da noben SMS ne bo nikoli poslan.
                    <p class="help">Kar mogoče malo uniči poanto te čudovite spletne strani.</p>
                </div>
            </article>
        {% endif %}
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="fas fa-info" aria-hidden="true"></i></span>
                            <span>Splošne Informacije</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>S spodnjim gumbom "dodaj stranko" lahko dodaš stranko.</li>
                                <li>Ko dodaš prvo stranko lahko dodaš termin, z gumbom dodaj termin.</li>
                                <li>Ko dodajaš lahko označiš, če stranka dobi SMS takoj ko shraniš termin, na dan
                                    termina,
                                    ali en dan pred terminom, okoli 8. ure zjutraj.
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <span>SMS-i</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <ul>
                                <li>SMS-i se delijo na Standardni SMS in na unikatne SMS-e</li>
                                <li>Standardni SMS je SMS, ki ga prejmejo vse stranke ki nimajo unikatnega SMS-a</li>
                                <li>Unikatni SMS lahko dodeliš specifičnim strankam, vsaki posebi ali večim hkrati.</li>
                                <li>SMS-e lahko urejaš na profilu stranke ali na svojem profilu.</li>
                            </ul>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('home_bp.change_sms_template') }}" class="card-footer-item">Ali pa klikni sem</a>
                    </footer>
                </div>
            </div>
        </div>





        {% if user.admin %}
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>username</th>
                    <th>email</th>
                    <th>SMS enabled</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users_list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        {% if user.send_SMS %}
                            <td><a class="is-success is-outlined"
                                   href="{{ url_for('auth_bp.disapprove_sms', user_id = user.id) }}"><span class="icon"><i
                                    class="fas fa-check"></i>
                            </span><span>DA</span></a></td>
                        {% else %}
                            <td><a class="is-warning is-outlined"
                                   href="{{ url_for('auth_bp.approve_sms', user_id = user.id) }}"><span class="icon"><i
                                    class="fas fa-times"></i>
                            </span><span>NE</span></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}

{% endblock %}