.dodaj {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
    align-items: stretch;
    display: flex;
}

.navbar-end {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.gumbi-navigacija {
    justify-content: space-evenly;
    max-width: 35rem;
    margin: auto;
}

.table {
    margin: auto;
}

tbody {
    max-height: 5rem;
    overflow-y: scroll;
}