
.button {
    border-radius: 300px;
    background-color: #ea7511;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.button:hover {
    background-color: #c96510;
    color: white;
}

