{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='calendar.css') }}">
{% endblock %}
{% block navigation %}
    {% if current_user.is_authenticated %}
        <div class="buttons are-medium gumbi-navigacija mb-5">
            <a href="{{ url_for('appointments_bp.appointments') }}"
               class="button is-link is-outlined is-rounded">Termini</a>
            <a href="{{ url_for('calendar_bp.calendar') }}"
               class="button is-link is-rounded">Koledar</a>
            <a href="{{ url_for('clients_bp.clients') }}"
               class="button is-link is-outlined is-rounded">Stranke</a>
        </div>
    {% endif %}
{% endblock %}
{% block content %}
    {% from "_weekly_calendar.html" import weekly_calendar %}
    <div id="calendar"></div>




{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="{{ url_for('.static', filename='calendar.js') }}"></script>
{% endblock %}