
.is-success {
    font-weight: bold;
}

.control-name-and-tel {
    max-width: 18rem;
    justify-content: left;
}

.dropdown {
    width: 100%;
}
.dropdown-trigger {
    width: 100%
}

.dropdown-menu {
    width: 100%;
}


