.control-name-and-tel {
    width: 12rem;
    justify-content: left;
    overflow-x: hidden;
}

.dropdown {
    width: 100%;
}

.dropdown-trigger {
    width: 100%
}

.dropdown-menu {
    width: 100%;
}

.button.is-multiline {
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
}

/** This isn't the actual suggested CSS - but it is just a quick fix to replicate the functionality**/
.button.is-multiline .icon {
    margin: 0 ! important;
}

.block {
    text-align: center;
    min-width: 29rem;
}