{% extends "base.html" %}

{% block content %}
    {% from "_input_text.html" import input_text %}

    <div class="column is-4 is-offset-4">
        <div class="box">
            <h3 class="title has-text-centered">Sprememba Gesla</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-link">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/change_password">
                {{ change_password_form.hidden_tag() }}
                <div class="field">
                    {{ input_text(change_password_form.old_password) }}
                </div>
                <div class="field">
                    {{ input_text(change_password_form.new_password) }}
                </div>
                <div class="field is-grouped">
                    {{ change_password_form.submit(class="button is-block is-info is-large is-fullwidth") }}
                    <div class="control">
                        <a class="button" href="{{ url_for('auth_bp.profile') }}">Prekliči</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}