{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title has-text-centered">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <label class="label">Name or Email</label>
                <div class="control">
                    <input class="input" type="name" name="name" placeholder="Your Name or Email here" autofocus="" minlength="3" required>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-grey">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Your Password" minlength="8" required>
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}