{% extends "base.html" %}

{% block content %}
    {% from "_input_text.html" import input_text %}
    <div class="column is-4 is-offset-4">
        <h3 class="title has-text-centered">Sign Up</h3>
        <div class="box">
            {% with messages = get_flashed_messages(category_filter=['name_not_unique']) %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }} Go to <a href="{{ url_for('auth_bp.login') }}">Login instead?</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/signup" method="POST">
                {{ register_form.hidden_tag() }}
                <div class="field">
                    {{ input_text(register_form.email) }}
                </div>
                <div class="field">
                    {{ input_text(register_form.name) }}
                </div>
                <div class="field">
                    {{ input_text(register_form.password) }}
                </div>
                <div class="field">
                    {{ register_form.remember.label(class="checkbox") }}
                    {{ register_form.remember(class="checkbox") }}
                </div>
                {{ register_form.recaptcha }}
                {{ register_form.submit(class="button is-block is-info is-large is-fullwidth") }}
            </form>
        </div>
    </div>
{% endblock %}