<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <link rel="stylesheet" href="/app/static/base.css">
    <script src="https://kit.fontawesome.com/b776fe45c0.js" crossorigin="anonymous"></script>
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
<section class="hero">

    <div class="hero-head">
        <nav class="navbar is-mobile" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('home_bp.index') }}">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>
            </div>
            <div class="navbar-end is-active is-mobile">
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth_bp.login') }}" class="navbar-item">
                        Prijava
                    </a>
                    <a href="{{ url_for('auth_bp.signup') }}" class="navbar-item">
                        Registracija
                    </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a class="navbar-item">{{ current_user.name }}</a>
                    <a href="{{ url_for('auth_bp.logout') }}" class="navbar-item">
                        Odjava
                    </a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="hero-body">
        {% if current_user.is_authenticated %}
            <div class="buttons are-medium gumbi-navigacija">
                <a href="{{ url_for('appointments_bp.appointments') }}"
                   class="button is-danger is-outlined is-rounded">Naročila</a>
                <a href="{{ url_for('calendar_bp.calendar') }}"
                   class="button is-danger is-outlined is-rounded">Koledar</a>
                <a href="{{ url_for('clients_bp.clients') }}"
                   class="button is-danger is-outlined is-rounded">Stranke</a>
            </div>
        {% endif %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% if current_user.is_authenticated %}
            <div class="buttons has-addons is-right is-bottom dodaj">
                <a class="button is-danger is-rounded" href="{{ url_for('appointments_bp.add_appointment') }}">Dodaj
                    naročilo</a>
                <a class="button is-danger is-rounded" href="{{ url_for('clients_bp.add_client') }}">Dodaj stranko</a>
            </div>
        {% endif %}
    </div>
</section>
</body>
{% block scripts %}
{% endblock %}
</html>