<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"/>
    <link rel="stylesheet" href="/app/static/base.css">
    <script src="https://kit.fontawesome.com/b776fe45c0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app/static/bulma-list.css">

    {% block stylesheet %}
    {% endblock %}
</head>

<body>
<section class="hero">

    <div class="hero-head">
        <nav class="navbar is-mobile" role="navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('home_bp.index') }}">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>
            </div>
            <div class="navbar-end is-active is-mobile">
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth_bp.login') }}" class="navbar-item">
                        Prijava
                    </a>
                    <a href="{{ url_for('auth_bp.signup') }}" class="navbar-item">
                        Registracija
                    </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="{{ url_for('auth_bp.profile') }}">{{ current_user.name }}</a>
                    <a href="{{ url_for('auth_bp.logout') }}" class="navbar-item">
                        Odjava
                    </a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="hero-body">
        {% block navigation %}
        {% endblock %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        {% if current_user.is_authenticated %}
            <div class="buttons has-addons is-right is-bottom dodaj">
                <a class="button is-link is-rounded is-outlined"
                   href="{{ url_for('appointments_bp.add_appointment') }}">
                    <span class="icon"><i class="fas fa-clock"></i></span>
                    <span class="icon"><i class="fas fa-plus"></i></span>
                </a>
                <a class="button is-link is-rounded is-outlined" href="{{ url_for('clients_bp.add_client') }}">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span class="icon"><i class="fas fa-user"></i></span>
                </a>
            </div>
        {% endif %}
    </div>
</section>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Ginger Alerts</strong> by <a href="https://www.instagram.com/beno.zupanc/">Beno Zupanc</a>. An sms
            alerts system made for 2 people for fun and learning.</p>

        <p> The <a href="https://github.com/Zvmcevap/GingerAlerts">source code</a> is licensed by no one anywhere, but
            some parts are under the <a href="http://opensource.org/licenses/mit-license.php">MIT</a> license.</p>
        <p>P.S. Think of everything as still under construction. As I am not pleased with anything :/</p>
    </div>
</footer>
{% block scripts %}
    <script src="/app/static/base.js"></script>
{% endblock %}
</html>